In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv('Sales_add.csv')
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [3]:
df.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [16]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

#### 1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

H0: There is no significant difference in sales after stepping into digital marketing. After sales and before sale are almost the same

H1: There is significant increase in the sales after stepping to digital marketing.

N=22

In [10]:
df_before = df['Sales_before_digital_add(in $)']
df_after = df['Sales_After_digital_add(in $)']

In [15]:
from scipy.stats import ttest_rel
alpha=.05

Tscore,p = ttest_rel(df_after,df_before)
print('Tscore is :',Tscore)
print('p is :',p)

if p > alpha:
    print('Failed to reject null hypothesis')
else:
    print('Failed to accept null hypothesis')

Tscore is : 12.09070525287017
p is : 6.336667004575778e-11
Fail to accept null hypothesis

Inference:

Here the calculated value of p is smaller than alpha, so we failed to accept the null hypothesis.Hence conclude that there is significant increase in sales after stepping into digital marketing

#### 2.The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [ ]:
H0: The features region and manager are independent
H1: The features region and manager are dependent

In [47]:
from scipy.stats import chi2_contingency
alpha=.05

df1 = pd.crosstab(df['Manager'], df['Region'])
Chiscore,p,dof,expected= chi2_contingency(df1)
print('Chi score is :',Chiscore)
print('p is :',p)

if p > alpha:
    print('Failed to rejecet Null Hypothesis')
else:
    print('Failed to accept null hypothesis')

Chi score is : 3.050566893424036
p is : 0.5493991051158094
Failed to rejecet Null Hypothesis

Inference:

Here the p is greater than alpha, so we failed to reject the null hypothesis. Hence conclude that the fetaures region and manager are independent